<html>





<body bgcolor="#FFFFCC">
    <h2>Welcome to my blog</h2>


    <img src="~/image/neslihan.png" border="3" width="100 " height="100" align="middle">
    <br />
    <p>&nbsp;&nbsp; <font face="Comic Sans MS" size=3 color="#800000"><b>Name  : </b></font><font face="verdana" size=3>Neslihan</font></p>
    <p>&nbsp;&nbsp; <font face="Comic Sans MS" size=3 color="#800000"><b>SurName  : </b></font><font face="verdana" size=3>Hanecioğlu</font></p>
    <p>&nbsp;&nbsp; <font face="Comic Sans MS" size=3 color="#800000"><b>E-mail  : </b></font><font face="verdana" size=3>neslihanecioglu@gmail.com</font></p>
</body>
</html>

<style type="text/css">
    body {
        background-image: url(~/image/neslihan.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
</style>